body {
  background-color: rgb(46, 47, 50);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  color: cyan;
  font-weight: 500;
}
.mainHeader {
  text-align: center;
  font-size: large;
  padding: 30px 0 30px 0;
  color: antiquewhite;
}
h2 {
  text-align: center;
}
button {
  background-color: darkgrey;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  box-shadow: 0 3px #666;
  cursor: pointer;
  vertical-align: middle;
  height: 25pt;
  height: 25pt;
  margin: 0 10px 0 10px;
}

button:hover {
  background-color: black;
  color: aliceblue;
  box-shadow: none;
}
button:active {
  background-color: #666;
  box-shadow: 0 3px dimgray;
  transform: translateY(4px);
}

.shopItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shopItem {
  margin: 30px;
}
.itemTitle,
.cartTitle {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 17pt;
  color: blanchedalmond;
  margin-bottom: 15px;
}
.image {
  border-radius: 20px;
}
.details {
  display: flex;
  align-items: center;
  padding: 5px;
}
.itemPrice {
  flex-grow: 1;
  color: blanchedalmond;
  font-size: 20pt;
  font-weight: bold;
}

.container {
  margin: 10pt;

  max-width: 900px;
  margin: 0 auto;
  padding: 0 15pt;
}
.sectionHeader {
  font-weight: bold;
  text-align: center;
  font-size: 25pt;
  color: blanchedalmond;
}

#cart {
  margin: 30pt 30pt 30pt 30pt;
}
